<!DOCTYPE html>
<html>
  <body>

{% extends "layout.html" %}
{% block content %}

<main tabindex="-1" data-is-mobile="false" data-is-mesh="true" data-site-width="980" style="left:0;margin-left:0;width:100%;min-width:980px;top:0;bottom:;right:;position:" class="pc1" data-state="" id="PAGES_CONTAINER"><div style="left:0" id="PAGES_CONTAINERscreenWidthBackground" class="pc1screenWidthBackground"></div><div style="position:relative" id="PAGES_CONTAINERcenteredContent" class="pc1centeredContent"><div style="display:none" id="PAGES_CONTAINERbg" class="pc1bg"></div><div style="position:relative" id="PAGES_CONTAINERinlineContent" class="pc1inlineContent"><div style="width:100%"><div data-ismobile="false" data-is-mesh-layout="true" style="height:100%;left:0;position:relative;top:;bottom:;right:" class="p1" id="c24vq"><div style="margin-left:calc((100% - 980px) / 2);width:980px" id="c24vqbg" class="p1bg"></div><div class="p1inlineContent" id="c24vqinlineContent"><style id="c24vq-mesh-styles">
#c24vqinlineContent {
height: auto;
width: 100%;
position: relative;
}

#c24vqinlineContent-gridWrapper {
pointer-events: none;
}

#c24vqinlineContent-gridContainer {
position: static;
display: grid;
height: auto;
width: 100%;
min-height: 500px;
grid-template-rows: min-content min-content 1fr;
grid-template-columns: 100%;
padding-bottom: 0px;
box-sizing: border-box;
}

#WRchTxt1d-c8m {
position: relative;
margin: 38px 0px 29px calc((100% - 980px) * 0.5);
left: 376px;
grid-area: 1 / 1 / 2 / 2;
justify-self: start;
align-self: start;
}

#GglMp0-1772 {
position: relative;
margin: 0px 0px -108px calc((100% - 980px) * 0.5);
left: 0px;
grid-area: 2 / 1 / 3 / 2;
justify-self: start;
align-self: start;
}

#WRchTxt0-124n {
position: relative;
margin: 0px 0px 19px calc((100% - 980px) * 0.5);
left: 505px;
grid-area: 2 / 1 / 3 / 2;
justify-self: start;
align-self: start;
}

#CntctFrm0-rr4 {
position: relative;
margin: 0px 0px 0 calc((100% - 980px) * 0.5);
left: 505px;
grid-area: 3 / 1 / 4 / 2;
justify-self: start;
align-self: start;
}

#c24vqcenteredContent {
position: relative;
}

#c24vqinlineContent-gridContainer > * {
pointer-events: auto;
}

#c24vqinlineContent-gridContainer > [id$="-rotated-wrapper"] {
pointer-events: none;
}

#c24vqinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
pointer-events: auto;
}</style><div id="c24vqinlineContent-gridWrapper" data-mesh-internal="true"><div id="c24vqinlineContent-gridContainer" data-mesh-internal="true"><div data-packed="true" style="top:;bottom:;left:;right:;width:228px;height:auto;position:;pointer-events:none" class="txtNew" id="WRchTxt1d-c8m"><h1 class="font_0" style="text-align:center;"><span style="font-weight:bold;"><span class="color_12">CONTACT</span></span></h1></div><div tabindex="0" title="Google Maps" aria-label="Google Maps" style="top:;bottom:;left:;right:;width:475px;height:270px;position:" class="gm1" id="GglMp0-1772"><div id="GglMp0-1772mapContainer" class="gm1mapContainer"><iframe data-src="https://static.parastorage.com/services/wix-bolt/1.4230.0/node_modules/wix-santa/static/external/googleMap.html?language=en&amp;defaultLocation=0&amp;showZoom=true&amp;showStreetView=true&amp;showMapType=true" width="100%" height="100%" frameBorder="0" allowfullscreen="" scrolling="no" title="Google Maps" aria-label="Google Maps"></iframe></div></div><div data-packed="true" style="top:;bottom:;left:;right:;width:446px;height:auto;position:;pointer-events:none" class="txtNew" id="WRchTxt0-124n"><p class="font_8" style="font-size:16px;"><span class="color_12"><span style="font-size:16px;">Phone:&nbsp;337-482-6768</span></span></p>

<p class="font_7" style="font-size:16px;"><span class="color_12"><span style="font-size:16px;">301 East Lewis Street</span></span></p>

<p class="font_7" style="font-size:16px;"><span class="color_12"><span style="font-size:16px;">Lafayette, LA 70504</span></span></p>

<p class="font_7" style="font-size:16px;"><span class="color_12"><span style="font-size:16px;">﻿Email: <object height="0"><a class="auto-generated-link" data-auto-recognition="true" data-content="gdg5008@louisiana.edu" href="mailto:gdg5008@louisiana.edu" data-type="mail">gdg5008@louisiana.edu</a></object></span></span></p>

<p class="font_7"><span class="wixGuard">​</span></p>

<p class="font_7">&nbsp;</p>

<h6 class="font_6">Have Questions or Suggestions?</h6></div><div style="top:;bottom:;left:;right:;width:475px;height:164px;position:" class="cf1" data-state=" desktop left" id="CntctFrm0-rr4"><form role="form" aria-label="contact form" novalidate="" id="CntctFrm0-rr4form-wrapper" class="cf1form-wrapper"><div id="CntctFrm0-rr4wrapper" class="cf1wrapper"><ul class="cf1_row cf1_form"><li class="cf1_col cf1_left"><div><input type="text" id="field1" required="" aria-invalid="false" name="Name" value="" class="cf1_required" placeholder="Name *" data-aid="nameField"/><input type="text" id="field2" required="" aria-invalid="false" name="Email" value="" class="cf1_required" placeholder="Email *" data-aid="emailField"/><input type="text" id="field3" aria-invalid="false" name="Subject" value="" class="" placeholder="Subject" data-aid="subjectField"/></div></li><li class="cf1_col cf1_right"><textarea name="Message" class="cf1fieldMessage" placeholder="Message" data-aid="messageField" id="CntctFrm0-rr4fieldMessage"></textarea></li></ul><div class="cf1_foot"><span aria-live="polite" class="cf1_success cf1notifications" id="CntctFrm0-rr4notifications"></span><button type="submit" id="CntctFrm0-rr4submit" class="cf1submit">Send</button></div></div></form></div></div></div></div></div></div></div></div></main>

{% endblock %}



</body>
</html>