<!DOCTYPE html>
<html>
  <body>

{% extends "layout.html" %}
{% block content %}

<main tabindex="-1" data-is-mobile="false" data-is-mesh="true" data-site-width="980" style="left:0;margin-left:0;width:100%;min-width:980px;top:0;bottom:;right:;position:" class="pc1" data-state="" id="PAGES_CONTAINER"><div style="left:0" id="PAGES_CONTAINERscreenWidthBackground" class="pc1screenWidthBackground"></div><div style="position:relative" id="PAGES_CONTAINERcenteredContent" class="pc1centeredContent"><div style="display:none" id="PAGES_CONTAINERbg" class="pc1bg"></div><div style="position:relative" id="PAGES_CONTAINERinlineContent" class="pc1inlineContent"><div style="width:100%"><div data-ismobile="false" data-is-mesh-layout="true" style="height:100%;left:0;position:relative;top:;bottom:;right:" class="style-k3at5037" id="cjg9"><div style="margin-left:calc((100% - 980px) / 2);width:980px" id="cjg9bg" class="style-k3at5037bg"></div><div class="style-k3at5037inlineContent" id="cjg9inlineContent"><style id="cjg9-mesh-styles">
#cjg9inlineContent {
height: auto;
width: 100%;
position: relative;
}

#cjg9inlineContent-gridWrapper {
pointer-events: none;
}

#cjg9inlineContent-gridContainer {
position: static;
display: grid;
height: auto;
width: 100%;
min-height: 500px;
grid-template-rows: min-content min-content 1fr;
grid-template-columns: 100%;
padding-bottom: 0px;
box-sizing: border-box;
}

#WRchTxt1m-zfe {
position: relative;
margin: 24px 0px 31px calc((100% - 980px) * 0.5);
left: 84px;
grid-area: 1 / 1 / 2 / 2;
justify-self: start;
align-self: start;
}

#WPht4-h3g {
position: relative;
margin: 0px 0px 28px calc((100% - 980px) * 0.5);
left: 0px;
grid-area: 2 / 1 / 3 / 2;
justify-self: start;
align-self: start;
}

#WRchTxth-igg {
position: relative;
margin: 0px 0px 10px calc((100% - 980px) * 0.5);
left: 503px;
grid-area: 2 / 1 / 3 / 2;
justify-self: start;
align-self: start;
}

#WPhty-22v {
position: relative;
margin: 0px 0px 0 calc((100% - 980px) * 0.5);
left: 0px;
grid-area: 3 / 1 / 4 / 2;
justify-self: start;
align-self: start;
}

#cjg9centeredContent {
position: relative;
}

#cjg9inlineContent-gridContainer > * {
pointer-events: auto;
}

#cjg9inlineContent-gridContainer > [id$="-rotated-wrapper"] {
pointer-events: none;
}

#cjg9inlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
pointer-events: auto;
}</style><div id="cjg9inlineContent-gridWrapper" data-mesh-internal="true"><div id="cjg9inlineContent-gridContainer" data-mesh-internal="true"><div data-packed="false" style="top:;bottom:;left:;right:;width:812px;height:auto;position:;min-height:92px;pointer-events:none" data-min-height="92" class="txtNew" id="WRchTxt1m-zfe"><h4 class="font_4" dir="ltr" style="font-size:76px;"><span style="font-weight:bold;"><span style="font-size:76px;">Welcome to Instant Chef!</span></span></h4></div><div style="top:;bottom:;left:;right:;width:480px;height:720px;position:" title="" data-is-responsive="false" data-display-mode="fitWidth" data-content-padding-horizontal="0" data-content-padding-vertical="0" data-exact-height="720" class="ca1" id="WPht4-h3g"><div style="width:480px;height:720px" id="WPht4-h3glink" class="ca1link"><wix-image style="width:480px;height:720px;top:0;left:0" data-has-bg-scroll-effect="" data-image-info="{&quot;imageData&quot;:{&quot;type&quot;:&quot;Image&quot;,&quot;id&quot;:&quot;ca7s&quot;,&quot;metaData&quot;:{&quot;pageId&quot;:&quot;cjg9&quot;,&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;&quot;,&quot;uri&quot;:&quot;nsplsh_754237713761697055326f~mv2_d_3648_5472_s_4_2.jpg&quot;,&quot;description&quot;:&quot;&quot;,&quot;width&quot;:3648,&quot;height&quot;:5472,&quot;alt&quot;:&quot;Image by Jonathan Borba&quot;,&quot;name&quot;:&quot;Image by Jonathan Borba&quot;,&quot;displayMode&quot;:&quot;fitWidth&quot;},&quot;containerId&quot;:&quot;WPht4-h3g&quot;,&quot;displayMode&quot;:&quot;fitWidth&quot;}" data-is-svg="false" id="WPht4-h3gimg" class="ca1img"><img id="WPht4-h3gimgimage" style="object-position:50% 50%;width:480px;height:720px;object-fit:contain" alt="Image by Jonathan Borba" data-type="image" itemProp="image" src="https://static.wixstatic.com/media/nsplsh_754237713761697055326f~mv2_d_3648_5472_s_4_2.jpg/v1/fill/w_288,h_432,al_c,q_80,usm_0.66_1.00_0.01,blur_2/Image%20by%20Jonathan%20Borba.jpg"/></wix-image></div></div><div data-packed="true" style="top:;bottom:;left:;right:;width:477px;height:auto;position:;pointer-events:none" class="txtNew" id="WRchTxth-igg"><p class="font_7" dir="ltr" style="font-size:23px;"><span style="font-size:23px;"><span class="color_12">Our journey begins&nbsp;at the start of the semester, where one Amateur Chef had the&nbsp;thought that not all culinary masterpieces should&nbsp;be knowledge reserved for Top Chefs only. So he teamed up with a group of developers, thus, prompted the creation of the site before you today.&nbsp;</span></span></p>

<p class="font_7" dir="ltr" style="font-size:23px;"><span style="font-size:23px;"><span class="wixGuard">​</span></span></p>

<p class="font_7" dir="ltr"><span class="color_12"><span style="font-size:23px;">Here at Instant Chef, we have taken headache out of the&nbsp;search process to creating elegant and delicious meals. No prior knowledge is needed, just simply input&nbsp;in the ingredients that you currently have and we will fill in the gaps on&nbsp;how to cultivate&nbsp;our delectable&nbsp;dishes. If you&#39;re just looking for ideas, then you could just search our database of Chef-inspired recipes!&nbsp;There we have outlined all the ingredients needed and instructions necessary to dine like Royalty.&nbsp;</span></span></p>

<p class="font_7" dir="ltr" style="font-size:23px;"><span style="font-size:23px;"><span class="wixGuard">​</span></span></p>

<p class="font_7" dir="ltr" style="font-size:23px;"><span style="font-size:23px;"><span class="color_12">Take a look around and indulge in a fine dining experience. Feel free to send questions, we&#39;re here to help!</span></span></p></div><div style="top:;bottom:;left:;right:;width:981px;height:654px;position:" title="" data-is-responsive="false" data-display-mode="fitWidth" data-content-padding-horizontal="0" data-content-padding-vertical="0" data-exact-height="654" class="ca1" id="WPhty-22v"><div style="width:981px;height:654px" id="WPhty-22vlink" class="ca1link"><wix-image style="width:981px;height:654px;top:0;left:0" data-has-bg-scroll-effect="" data-image-info="{&quot;imageData&quot;:{&quot;type&quot;:&quot;Image&quot;,&quot;id&quot;:&quot;cugl&quot;,&quot;metaData&quot;:{&quot;pageId&quot;:&quot;cjg9&quot;,&quot;isPreset&quot;:false,&quot;schemaVersion&quot;:&quot;2.0&quot;,&quot;isHidden&quot;:false},&quot;title&quot;:&quot;&quot;,&quot;uri&quot;:&quot;nsplsh_3153686b5f506b4e6b4e77~mv2_d_5760_3840_s_4_2.jpg&quot;,&quot;description&quot;:&quot;&quot;,&quot;width&quot;:5760,&quot;height&quot;:3840,&quot;alt&quot;:&quot;Image by Lidye&quot;,&quot;name&quot;:&quot;Image by Lidye&quot;,&quot;displayMode&quot;:&quot;fitWidth&quot;},&quot;containerId&quot;:&quot;WPhty-22v&quot;,&quot;displayMode&quot;:&quot;fitWidth&quot;}" data-is-svg="false" id="WPhty-22vimg" class="ca1img"><img id="WPhty-22vimgimage" style="object-position:50% 50%;width:981px;height:654px;object-fit:contain" alt="Image by Lidye" data-type="image" itemProp="image" src="https://static.wixstatic.com/media/nsplsh_3153686b5f506b4e6b4e77~mv2_d_5760_3840_s_4_2.jpg/v1/fill/w_245,h_164,al_c,q_80,usm_0.66_1.00_0.01,blur_2/Image%20by%20Lidye.jpg"/></wix-image></div></div></div></div></div></div></div></div></div></main>

{% endblock %}

</body>
</html>

