<!DOCTYPE html>
<html>
  <body>
{% extends "layout.html" %}
{% block content %}

    <style>
        main {
            height: 50%;
            width: 100%;
            display: grid;
            justify-content: center;
            align-content: center;
            padding-top:5%;
            padding-bottom:1%;
            grid-gap: 20px;
            grid-template-areas: 'space space space'
            					 'inputo inputt inputth'
            					 'space2 submit space3'
            
        }

        .grid-container > div {
		  align-content: center;
		  font-size: 25px;
		}

        #space{
        	grid-area: space;
        }

        #input1 {
        	grid-area: inputo;
        }

        #input2 {
        	grid-area: inputt;
        }

        #input3 {
        	grid-area: inputth;
        }

        #submit {        	
        	color: #673AB7;
        	grid-area: submit;
        }

        #input3 {
        	grid-area: inputth;
        }

        #input3 {
        	grid-area: inputth;
        }

		/*
		=====
		LEVEL 1. RESET STYLES
		=====
		*/

		.field{
		  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
		}

		.field__input{ 
		  background-color: transparent;
		  border-radius: 0;
		  border: none;

		  -webkit-appearance: none;
		  -moz-appearance: none;

		  font-family: inherit;
		  font-size: 1em;
		}

		.field__input:focus::-webkit-input-placeholder{
		  color: var(--uiFieldPlaceholderColor);
		}

		.field__input:focus::-moz-placeholder{
		  color: var(--uiFieldPlaceholderColor);
		  opacity: 1;
		}

		/*
		=====
		LEVEL 2. CORE STYLES
		=====
		*/

		.a-field{
		  display: inline-block;
		}

		.a-field__input{ 
		  display: block;
		  box-sizing: border-box;
		  width: 100%;
		}

		.a-field__input:focus{
		  outline: none;
		}

		/*
		=====
		LEVEL 3. PRESENTATION STYLES
		=====
		*/

		/* a-field */

		.a-field{
		  --uiFieldHeight: var(--fieldHeight, 40px);  
		  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
		  --uiFieldBorderColor: var(--fieldBorderColor);

		  --uiFieldFontSize: var(--fieldFontSize, 1em);
		  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

		  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
		  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
		  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   

		  position: relative;
		  box-sizing: border-box;
		  font-size: var(--uiFieldFontSize);
		  padding-top: 1em;  
		}

		.a-field__input{
		  height: var(--uiFieldHeight);
		  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
		  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
		  color: cyan;
		}

		.a-field__input::-webkit-input-placeholder{
		  opacity: 0;
		  transition: opacity .2s ease-out;
		}

		.a-field__input::-moz-placeholder{
		  opacity: 0;
		  transition: opacity .2s ease-out;
		}

		.a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
		  opacity: 0;
		  bottom: var(--uiFieldPaddingBottom);
		}

		.a-field__input:focus::-webkit-input-placeholder{
		  opacity: 1;
		  transition-delay: .2s;
		}

		.a-field__input:focus::-moz-placeholder{
		  opacity: 1;
		  transition-delay: .2s;
		}

		.a-field__label-wrap{
		  box-sizing: border-box;
		  width: 100%;
		  height: var(--uiFieldHeight);	

		  pointer-events: none;
		  cursor: text;

		  position: absolute;
		  bottom: 0;
		  left: 0;
		}

		.a-field__label{
		  position: absolute;
		  left: var(--uiFieldPaddingLeft);
		  bottom: calc(50% - .5em);
		  color: #673AB7;

		  line-height: 1;
		  font-size: var(--uiFieldHintFontSize);

		  pointer-events: none;
		  transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
		  will-change: bottom, opacity;
		}

		.a-field__input:focus ~ .a-field__label-wrap .a-field__label{
		  opacity: 1;
		  bottom: var(--uiFieldHeight);
		  color: white;
		}

		/* a-field_a3 */

		.a-field_a3 .a-field_a2 .a-field__input{
		  padding-top: 1.5em;		  
		}

		.a-field_a3 .a-field__label-wrap::after{
		  content: "";
		  box-sizing: border-box;
		  width: 100%;
		  height: 0;

		  opacity: 0;
		  border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

		  position: absolute;
		  bottom: 0;
		  left: 0;

		  will-change: opacity, height;
		  transition: height .2s ease-out, opacity .2s ease-out;
		}

		.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap::after{
		  height: 100%;
		  opacity: 1;
		}

		.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
		  bottom: calc(var(--uiFieldHeight) + .5em);
		}

		/*
		=====
		LEVEL 4. SETTINGS
		=====
		*/

		.field{
		  --fieldBorderColor: #D1C4E9;
		  --fieldBorderColorActive: #673AB7;
		}
    </style>


    <main>
    	<div class="grid-container">
    	<div id="space">
    	</div>
        <div>
        	<form method="post" action="{{ url_for('recipes') }}" id="form" >           
	    		<div id="input1">
	    		<label class="field a-field a-field_a3">
	    			<input type="text" name="ingredient1" class="field__input a-field__input" placeholder="e.g. Chicken">
	    			<span class="a-field__label-wrap">
	      				<span class="a-field__label">First Ingredient</span>
	    			</span>
	  			</label>
	  			</div>
	  			<div id="input2">
			    <label class="field a-field a-field_a3">
			    	<input type="text" name="ingredient2" class="field__input a-field__input" placeholder="e.g. Spaghetti">
			        <span class="a-field__label-wrap">
			        <span class="a-field__label">Second Ingredient</span>
			    	</span>
			    </label>    
			    </div>
			    <div id="input3">
			    <label class="field a-field a-field_a3">
			    	<input type="text" name="ingredient3" class="field__input a-field__input" placeholder="e.g. Sausage">
			    	<span class="a-field__label-wrap">
			        <span class="a-field__label">Third Ingredient</span>
			    	</span>
			  	</label>
			  	</div>
			  	<div id="submit">
			 	<input type="submit" value="ingredients">
			 	</div>
			 	<div id="space2"></div>
			 	<div id="space3"></div>

        	</form>
    	</div>
    </div>
    </main>

{% endblock %}


</body>
</html>